body{
    background-image: url("/static/house_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial;
    text-align: center;
    color: black;
    font-weight: bold;
}

body::before{
    content: "";
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    backdrop-filter: blur(4px);
    z-index:-1;
}

form{
    background: rgba(173, 165, 165, 0.7);
    padding: 5px;
    margin: auto;
    margin-top:20px;
    width: 28%;
    border-radius: 20px;
    max-width: 400px;
}

input, select{
    width: 85%;
    padding: 8px;
    margin: 6px;
    border-radius: 8px;
    border: none;
}

input[type="submit"]{
    background: orange;
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}

input[type="submit"]:hover{
    background: darkorange;
}

select{
    background-color: burlywood;
}

h2{
    color:#0A2A66;
    font-family: 'Times New Roman';
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 3px;
}

h3{
    color: darkmagenta;
    font-family: 'Times New Roman';
    font-size: 24px;
}
